body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
h2{
color: #777;
}
p{
  font: 15px "Lato", sans-serif;

}
.bgimg-1 {
  background-image: url("https://c.pxhere.com/photos/23/9d/skyline_city_nyc_new_york_dusk-99145.jpg!d");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://68.media.tumblr.com/d3fd545cd977a174beef12c1106880bf/tumblr_nt505iKkul1ud7rr3o1_1280.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://68.media.tumblr.com/ac46aa24b44b5036e9200abb71f810d9/tumblr_nt5vzxV6Us1ud7rr3o1_1280.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
header {
  background-color: rgba(119, 119, 119, 0.349);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
 
  list-style: none;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: space-between;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}
.portfolio  {
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: space-around;
background-color:#777;
  }
.portfolio img {
  margin-left: 100px;
  display: inline-block;
  float: left;
  margin: 15px;
  cursor: pointer;
  transition: all 0.4s;
}
.portfolio:hover img {
  opacity: 0.6;
  transform: scale(0.8);
  -webkit-filter: blur(2px);
}
.portfolio img:hover {
  opacity: 1;
  transform: scale(1.50);
  -webkit-filter: blur(0);
}

.cent{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: space-between;
padding-bottom: 25px;
background: #777;
}
  
    .container{
      width: 20%;
    }
.carousel {
        position: relative;
        box-shadow: inset 0px 1px 6px rgba(65, 65, 65, 0.397);
        background: rgba(65, 65, 65, 0.315);
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
    }
    
    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 80vh;
    }
    
    .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
        transform: translate3d(0,0,0);
    }
    .carousel-open:checked + .carousel-item>.carousel-caption {
       opacity: 100;
    }
    
    .carousel-item {
        position: absolute;
        opacity: 0;
        transition: all 0.6s ease-in-out;
       transform: translate3d(100%,0,0);
    }
    
    .carousel-item img {
        display: block;
        height: 100%;
        width: 100%;
      filter: grayscale(50%);
    }
    
    .carousel-item>.carousel-caption {
      color: rgb(255, 255, 255);
      font-size: 1.35em;
      z-index: 1000;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 90%;
      text-align:center;
      opacity: 1;
    }
    #carousel-1 .carousel-caption {
      top:35%;
    }
    #carousel-2 .carousel-caption {
      top:35%;
    }
    .carousel-control {
        color: #ffffff;
        cursor: pointer;
        display: none;
        font-size: 3.75em;
        height: 45px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translate(0, -50%);
        text-align: center;
        width: 60px;
        z-index: 10;
        transition: all 0.25s ease-in-out;
    }
    .carousel-control.prev {
        left: -10px;
        border-radius: 0px 0px 0px 0;
    }
    .carousel-control.next {
        right: -10px;
        border-radius: 0px 0 0 àpx;
    }
    .carousel-control:hover {
        background: rgba(68, 68, 68, 0.842);
        color: #fff;
        width: 70px;
    }
    .carousel-control.prev:hover {
       left: 0;
    }
    .carousel-control.next:hover {
      right: 0;
    }
    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
        display: block;
    }
    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
        transition: all 0.5s ease-in-out;
    }
    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }
    
    .carousel-bullet {
        background: #fff;
        cursor: pointer;
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }
    #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
        background: #707070;
        animation: gradient 200ms ease-in-out;
    }
    .carousel-bullet:hover {
        background: #aaaaaa;
    }
    @keyframes gradient {
      0% {
        background: radial-gradient(circle at center, rgb(255, 255, 255) 0%, #fff 0%, #fff 100%);
      }
      25% {
        background: radial-gradient(circle at center, rgb(255, 255, 255) 24%, #fff 25%, #fff 100%);
      }
      50% {
        background: radial-gradient(circle at center, rgb(255, 255, 255) 49%, #fff 50%, #fff 100%);
      }
      75% {
        background: radial-gradient(circle at center, rgb(255, 255, 255) 74%, #fff 75%, #fff 100%);
      }
      100% {
        color: #fff;
        background: radial-gradient(circle at center, #ffffff 99%, #fff 100%, #fff 100%);
      }
    }
  @font-face {
    font-family: "OpenSans-Bold";
    src: url('./Typo/OpenSans-Bold.ttf');
  }

  @font-face {
    font-family: "OpenSans-Light";
    src: url('./Typo/OpenSans-Light.ttf');
  }

  .ggy{
    text-align: center;
  }
  .footi{
    background-color:#777;
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .contact {
    width: 300px;
    margin: auto;
  }
  
  .social {
    max-width: 300px;
    margin: auto;
  }
  
  .social-list {
    max-width: 300px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .social h3, .contact h3 {
    font-family: 'Open Sans', Sans Serif;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: #34495e;
    background-image: url(http://www.transparenttextures.com/patterns/escheresque.png);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 5px 0;
    color: #fff;
    
  }
  
  .social-btn {
    text-align: center;
    border: none;
    color: #bdc3c7;
    width: 60px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all .3s ease-out;
    padding: 0 3px 5px 3px;
    margin: 5px 5px 5px 5px;
    font-family: 'Roboto Condensed', Sans Serif;
  }
  
  .social-btn:hover {
    color: #34495e;
    -webkit-filter: drop-shadow(0 0 2px #34495e);
  
  }
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset;
    border-width: 2px;
  } 
  #Qui-suis-je{
  }
  .social-btn:focus {
    outline: 0;
  }
  .foot{
    background-color: #777;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
  }
